.inputContainer{
    width: 500px;
    padding: 10px;
}
.resultContainer{
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    max-height: 300px;
    overflow-y: scroll;
}
.item{
    display: block;
    padding: 3px;
    cursor: pointer;
}
.item:hover{
    background-color: gray;
}
.item:focus {
  outline: none;
  background-color: #def; /* Or any color to show focus */
  border-radius: 4px;
}
