aside{
   width: 200px;
}
.iconContainer{
   padding-left: 50px;
}
.selectedNode{
   border: 1px solid indigo;
}
.icon{
   cursor: pointer;
   width: 15px;
}

.folder{
   padding-left: 20px;
   cursor: pointer;
}
.fileName{
   cursor: pointer;
   
}
.fileName-active{
   cursor: pointer;
   text-decoration: underline;

}